body{ 
    background-image: url(imagens/fundo2.png);
    background-size: 145px;
    margin: 0 auto;
    width: 80%;
}

.fundo1{
    background-image: url(imagens/fundo.png);
    background-size: 130px;
    margin: 0 auto;
    width: 80%;
 }
header{
    padding-top: 2%;
    display: flex;
    align-items: baseline;
}

.capa{
    padding-top: 2.1%;
    max-width: 600px;
    height: 500px;
    
}

.link{
    padding-left: 53%;
}

h4{
    text-align: center;
}